<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type"
    content="text/html;
    charset=UTF-8"/>
    <title>Add New Friends</title>
  </head>
  <body>
    <h1>Add a Friend</h1>
        <form action="#" th:action="@{/add}" th:object="${friend}" th:method="post">
            <div>
                <label for="firstName">Firstname:</label>
                <input type="text" placeholder="firstname" th:field="*{firstName}" />
            </div>
    
            <div>
                <label for="lastName">Lastname:</label>
                <input type="text" placeholder="lastname" th:field="*{lastName}" />
            </div>
            <div>
                <button type="submit">Add a Friend</button>
            </div>
        </form>
  </body>
</html>